#anh1 {
    width: 200px;
    height: 835px;
    float: left;
    /* border: 1px solid #000; */
    margin-right: 10px;
}
#header {
    float: left;
    height: 154;
    width: 960px;
    margin-bottom: 10px;
    /* border: 1px solid #000; */
}
#banner {
    height: 120px;
    width: 960;
    float: left;
    margin-bottom: 10px;
    /* border: 1px solid #000; */
}
#anhbanner {
    height: 120px;
    width: 960px;
    /* border: 1px solid #000; */
}
#menu {
    float: left;
    background-color: blue;
    width: 960px;
    height: 34px;
    border-radius: 8px;
}
#main-menu {
    display: flex;
    list-style: none;/*bỏ dấu chấm ở đầu*/
    margin: 0;
    padding: 0;
}
#main-menu li {
    position: relative;
}
#main-menu li a {
    color: aliceblue;
    display: block;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 20px;
    text-decoration: none;/*loại bỏ gạch chân mặc định của liên kết*/
}
#main-menu li a:hover {/*hiệu ứng khi di chuột vào*/
    background-color: orange;
}
#main-menu ul.menu-con {
    display: none;/*ẩn đi*/
    position: absolute;
    background-color: aliceblue;
    border: 1px solid gray;
    padding: 0px 0px;
    list-style: none;/*bỏ dấu chấm ở đầu*/
    width: 190px;
    margin-top: 5px;
}
#main-menu ul.menu-con a {
    padding: 8px 15px;
    border-bottom: 1px solid black;
    color: black;
}
#main-menu ul.menu-con li:last-child a { /*last-child là cuối cùng(thẻ li cuối cùng)*/
    border: none;
}
#main-menu li:hover .menu-con {/*khi di chuột vào thì hiển thị menu-con*/
    display: block;
}
#main {
    float: left;
    height: 570px;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}
#slide {
    height: 240px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}
#slide img {
    float: left;
    width: 960px;
    height: 240px;
    border-radius: 8px;
}
#content {
    height: 350px;
    width: 960;
    /* border: 1px solid red; */
}
#content #product {
    float: left;
    margin-right: 22px;
}
#content #solution {
    float: left;
}
#content #news {
    float: right;
}
.cate {
    width: 304px;
    height: 320px;
    border-radius: 8px;
    border: 1px solid rgb(146, 145, 145);
}
.dung-o-dau {
    float: left;
    width: 304px;
    height: 30px;
    border-radius: 8px 8px 0 0;
    /* border: 1px solid black; */
    background-color: rgb(215, 210, 210);
    margin-bottom: 10px;
}
.dung-o-dau p {
    color: blue;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
#footer {
    height: 80px;
    width: 960px;
    float: left;
    background-color: rgb(215, 210, 210);
    /* border: 1px solid black; */
}
#footer .lop-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px
}
#footer .lop-p p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.list-anh {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.list-p {
    width: 182px;
    float: left;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
.p1 {
    text-align: left;
    margin-top: 0%;
    color: blue;
    margin: 0;
    }
.p2 {
    text-align: left;
    color: gray;
    margin: 0;
    margin-bottom: 10px;
}
.p3 {
    text-align: left;
    padding-left: 10px;
}
.list-tieude {
    /* clear: both; */
    float: left;
    /* border: 1px solid red; */
    margin-top: 0%;
}
.list-tieude li a {
    color: blue;
    text-decoration: none;/*loại bỏ gạch chân mặc định của liên kết*/
}
/*vì đề bài quy định khoảng cách như vậy*/
#anh2 {
    clear: both;
    width: 200px;
    height: 835px;
    margin-left: 10px;
    /* border: 1px solid #000; */
}